/*********COLORS*************/
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color:blueviolet;
}
.bg-green{
    background-color:rgb(24, 225, 24);
}
.bg-white{
    background-color:white;
}

.color-blue{
    color: #0B78D0;
}
.color-grey{
    color: grey;
}
/********* UTILITIES**********/

.border-d{
    border: 1px dotted black;
}

a{
    text-decoration: none;
}

/***********HEADER***********/

header{
    min-height: 100px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.logo-section{
    height: 30px;
    background: black;
}


.header-logo{
    position: absolute;
    right: 30px;
    top: 0;
    height: 40px;
    width: 100px;

}
.header-logo img{
    max-height: 100%;
}

.btn-header{
    border-radius: 80px;
}
/*header main*/




header li{
    width: 200px;
}

header .right > .hidden-parts{
    
    height: 100%;

}
nav{
    width: 100%;
}

.right i{
    font-size: 40px;
    background-color: white;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 10px;
}
.left li{
    width: calc(100%/7);
    list-style: none;
    text-align: center;
    color: white;
}
li img{
    height: 15px;
}

ul{
    margin: 0 ;
    padding: 0 10px;
}

.check{
    height: 15px;
}


li a{
    color: black;
}

.icona-lente img{
    max-width: 60%;
}
/*******FISTR JUMBOTRON**********/

.jumbotron{
    width: 100%;
    height: 755px;
    padding-top: 170px;
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:auto;
}

.jumbotron .container{
    height: 500px;
}

.jumbotron > .container{
    height: 500px;
    
}
.descrizione img{
    max-width: 100%;
}
.jumbo-title{
    padding: 20px 0;
}

.btn-jumbo{
    border-radius: 20px;
    background-color: #CD3D0F;
}

/*********GIOCHI SECTION***********/
.giochi-section{
    width: 100%;
    min-height: 300px;
    padding: 50px 0;
}

.giochi-section .first-img{
    max-height: 200px;
    
}
.giochi-section .second-img{
    max-height: 200px;
    
    
}
.giochi-section img{
    max-width: 100%;
    border-radius: 20px;
    margin: 20px 0;
    
}



/******TEXT SECTION*******/

.text-section .description{
    padding: 20px 0;
}
/******FIRST CARD SECTION**/

.big-card{
    margin: 50px 0;
}

.big-card p{
    margin: 20px 0;
    font-size: 20px;
}


.first-cards-section .img{
    min-height: 200px;
}
.first-cards-section .img-small{
    min-height: 40px;
    padding: 50px 30px;
}

.btn-card-section{
    padding: 5px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.img img{
    max-width: 100%;
}

.img-small img{
    max-width: 100%;
}
/*secondjumbotron*/

.jumbotron-2{
    width: 100%;
    height: 755px;
    padding-top: 170px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
}

.jumbotron-2 .container{
    height: 500px;
}

.jumbotron-2 > .container{
    height: 500px;
    
}
.descrizione img{
    max-width: 100%;
}
.jumbo-title{
    padding: 20px 0;
}

.btn-jumbo-2{
    border-radius: 20px;
    background-color: #CD3D0F;
}



/***second giochi section****/

.giochi-second-section{
    width: 100%;
    min-height: 300px;
    padding: 50px 0;
}

.giochi-second-section .first-img{
    min-height: 200px;
    padding: 30px;
}
.giochi-second-section .first-img img{
    max-width: 100%;
    border-radius: 20px;
}
.giochi-second-section .second-img{
    min-height: 200px;
    padding: 30px ;
}
.giochi-second-section .second-img img{
    max-width: 100%;
    border-radius: 20px;
}
.giochi-second-section p{
    margin-top: 10px;
}



/******CONSOLE SECTION******/
.console-section{
    padding: 100px 0;
}
.card{
    border: 0;
    
}

/**********PSPLUS SECTION******/


.psplus-section{
    padding: 100px 0;
}
/******SCONTI SECTION******/

.sconti-section{
    width: 100%;
    min-height: 200px;
    padding: 100px 0;
}
.sconti-img{
    
    height: 200px;
}
/****psnow-section****/

.psnow-section{
    padding: 100px 0;
}

/*****SOCIAL SECTION****************/


.social{
    height: 100px;
    padding: 20px;
    background: yellow;
}

.social img{
    padding: 20px;
    max-width: 100%;
    height: 100%;
}


/************footer***************/


footer{
    background-color:#00439C ;
    width: 100%;
    padding: 100px 0;
}

ul{
    margin-bottom: 0;
}

.immagine{
    width: 100px;
    height: 70px;
    background-color: red;
}

@media screen and (min-width:992px) {
    /*FIRST CARD SECTION*/
    .img.small img{
        max-width: calc(100%/5);
    }
}