/*********COLORS*************/
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color:blueviolet;
}

/********* UTILITIES**********/

.border-d{
    border: 1px dotted black;
}

/***********HEADER***********/

header{
    min-height: 200px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo-section{
    height: 40px;
    background: black;
}

header .right{
    height: 70px;
}
.header-logo{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 100px;
}
/*header main*/


.logo{
    width: 70px;
    min-height: 70px;
}

header li{
    width: 200px;
}

header .right > .hidden-parts{
    width: 200px;
    height: 70px;

}