/*********COLORS*************/
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color:blueviolet;
}
.bg-green{
    background-color:rgb(24, 225, 24);
}
.bg-white{
    background-color:white;
}

.color-blue{
    color: #0B78D0;
}
.color-grey{
    color: grey;
}
/********* UTILITIES**********/

.border-d{
    border: 1px dotted black;
}

a{
    text-decoration: none;
}

/***********HEADER***********/

header{
    min-height: 100px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.logo-section{
    height: 30px;
    background: black;
}


.header-logo{
    position: absolute;
    right: 30px;
    top: 0;
    height: 40px;
    width: 100px;

}
.header-logo img{
    max-height: 100%;
}

.btn-header{
    border-radius: 80px;
    
}
.txt-bottone{
    padding:  0.375rem 0.75rem;

}
.btn-header:hover .txt-bottone{
    border-radius: 80px;
    border: 1px solid white;
    
}
/*header main*/






header .right > .hidden-parts{
    
    height: 100%;

}
nav{
    width: 100%;
}

.right i{
    font-size: 40px;
    background-color: white;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}
.left li{
    list-style: none;
    text-align: center;
    color: white;
}
li img{
    height: 15px;
}

ul{
    margin: 0 ;
    padding: 0 10px;
}

.check{
    height: 15px;
}


li a{
    color: grey;
}
li a:hover{
    color: black;
}

.icona-lente img{
    max-width: 60%;
}
/*******FISTR JUMBOTRON**********/

.jumbotron{
    width: 100%;
    height: 755px;
    padding-top: 170px;
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:auto;
}

.jumbotron .container{
    height: 500px;
}

.jumbotron > .container{
    height: 500px;
    
}
.descrizione img{
    max-width: 100%;
}
.jumbo-title{
    padding: 20px 0;
}

.btn-jumbo{
    border-radius: 20px;
    background-color: #CD3D0F;
}

/*********GIOCHI SECTION***********/
.giochi-section{
    width: 100%;
    min-height: 300px;
    padding: 50px 0;
}

.giochi-section .first-img{
    max-height: 200px;
    transition: translate 0.5s;
    
}
.giochi-section .second-img{
    max-height: 200px;
    transition: translate 0.5s;
    
    
}
.giochi-section img{
    max-width: 100%;
    border-radius: 20px;
    margin: 20px 0;
    
}

/*giochi-section hover*/
.gioco:hover{
    translate: 0 -20px;
}

/******TEXT SECTION*******/

.text-section .description{
    padding: 20px 0;
}
/******FIRST CARD SECTION**/
.first-cards-section{
    margin-bottom: 80px;
}
.big-card{
    margin: 50px 0;
}

.big-card p{
    margin: 20px 0;
    font-size: 20px;
}


.first-cards-section .img{
    min-height: 200px;
}
.first-cards-section .img-small{
    min-height: 40px;
    padding: 50px 30px;
}

.btn-card-section{
    padding: 5px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.img img{
    max-width: 100%;
    
}

.img-small img{
    max-width: 100%;
    position: relative;
    z-index: -1;
}

/*hover*/
.contenitore-blur{
    
    opacity: 50%;
}
.contenitore-blur:hover{
    opacity: 100%;
    
}
.contenitore{
    border-bottom: 5px solid white;
}
.contenitore:hover{
    border-bottom: 5px solid blue;
}

/*secondjumbotron*/

.jumbotron-2{
    width: 100%;
    height: 755px;
    padding-top: 170px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
}

.jumbotron-2 .container{
    height: 500px;
}

.jumbotron-2 > .container{
    height: 500px;
    
}
.descrizione img{
    max-width: 100%;
}
.jumbo-title{
    padding: 20px 0;
}

.btn-jumbo-2{
    border-radius: 20px;
    background-color: #CD3D0F;
}



/***second giochi section****/

.giochi-second-section{
    width: 100%;
    min-height: 300px;
    padding: 50px 0;
    background-color: #1F1F1F;
}

.giochi-second-section .first-img{
    min-height: 200px;
    padding: 30px;
    transition: translate 0.5s;
}
.giochi-second-section .first-img img{
    max-width: 100%;
    border-radius: 20px;
    
}
.giochi-second-section .second-img{
    min-height: 200px;
    padding: 30px ;
    transition: translate 0.5s;
}
.giochi-second-section .second-img img{
    max-width: 100%;
    border-radius: 20px;
}
.giochi-second-section p{
    margin-top: 10px;
}



/******CONSOLE SECTION******/
.console-section{
    padding-top: 50px ;
    padding-bottom: 50px;
}
.card{
    border: 0;
    margin: 20px 0;
    
}

.card img{
    max-width: 100%;
}
.btn-console{
    border-radius: 20px;
}
/**********PSPLUS SECTION******/

.logo-psplus{
    width: 300px;
}
.psplus-section{
    background-color: #BEBCBB;
    margin: 50px 0;
}
.psplus-section img{
    max-width: 100%;
}
.psplus-section p{
    margin: 30px 0;
}

.psplus-section .main{
    padding-top: 27px;
    padding-bottom: 27px;
}
/******SCONTI SECTION******/

.sconti-section{
    width: 100%;
    min-height: 200px;
    margin-bottom: 50px;
    
}
.sconti-img{
    
    margin: 20px 0;
}

.sconti-section img{
    max-width: 100%;
}
/****psnow-section****/

.psnow-section{
    
    background-color: #161C3B;
}
.psnow-section img{
    max-width: 100%;
}
.psnow-section .main{
    padding-top: 27px;
    padding-bottom: 27px;
}
.psnow-section p{
    margin: 30px 0;
}
/*****SOCIAL SECTION****************/

.social-section{
    margin: 80px 0;
}
.social{
    padding: 20px;
}

.social img{
    max-width: 100%;
}
.social-section h1{
    margin-bottom: 30px;
}

/************footer***************/


footer{
    background-color:#00439C ;
    width: 100%;
    padding: 100px 0;
}

ul{
    margin-bottom: 0;
}

.immagine{
    width: 100px;
    height: 70px;
    
}
.immagine i{
    font-size: 70px;
}
footer .icona-testo img{
    max-width: 20px;
}

footer img{
    max-width: 100%;
}

.links{
    margin-top: 40px;
    margin-bottom: 40px;
}
.icona-testo{
    margin: 20px 0;
}

@media screen and (min-width:992px) {
    /*FIRST CARD SECTION*/
    .img.small img{
        max-width: calc(100%/5);
    }
}